$primaryColor: #192965;

body
{
    background-color: #f5f5f5;
    font-family: 'Saira Semi Condensed', sans-serif;
    margin:0;
}

::selection
{
    background-color:$primaryColor;
    color:white;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.side-scroll-progress
{
    position:fixed;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    top:50%;
    left:60px;
    transform:translateY(-50%);
    
    .page
    {
        position:relative;
        background-color:transparent;
        border:2px solid $primaryColor;
        border-radius:50%;
        width:25px;
        height:25px;
        margin-top:5px;
        margin-bottom:5px;
        transition:all 100ms;

        i.material-icons
        {
            position:absolute;
            top:50%; left:50%;
            transform:translateY(-50%) translateX(-50%);
            font-size:16px;
            color:$primaryColor;
        }

        .page-name
        {
            position:absolute;
            top:50%;
            left:0;
            opacity:0;
            transform:translateY(-50%);
            color:$primaryColor;
            width:120px;
            transition:all 250ms;
            font-weight:bold;
        }
    }

    .page:hover
    {
        transform:scale(1.1);
    }

    .page.complete
    {
        background-color:$primaryColor;

        i.material-icons
        {                
            color:white;
        }

        .page-name
        {
            top:50%;
            opacity:0.75;
            left:40px;
        }
    }

    .progress-bar
    {
        width:3px;
        position:relative;
        height:150px;
        border-radius:10px;
        background-color:#ddd;
        
        .progress
        {
            background-color:$primaryColor; 
            position:absolute;
            top:0;
            left:0;
            width:100%;
        }
    }

    .progress-bar.small
    {
        height:50px;
    }
}

.content
{
    margin-left:300px;

    #introduction
    {
        width:100%;
        min-height:100vh;

        .center
        {
            position:absolute;
            top:50%;
            max-width:25%;
            left:50%;
            transform:translateX(-50%) translateY(-50%);
            text-align:center;

            .name
            {
                display:block;
                color:$primaryColor;
                font-size:45px;
                text-align:center;
                margin-bottom:10px;
            }


            .profile-image
            {
                text-align:center;
                margin-bottom:20px;
                
                .border
                {
                    display:inline-block;
                    border:2px solid $primaryColor;
                    border-radius:50%;
                    width:160px;
                    height:160px;

                    img
                    {
                        margin-top:5px;
                        border-radius:50%;
                        width:150px;
                        height:150px;
                    }
                }
                
            }
            
            .jobs
            {
                font-size:25px;
                cursor:default;
                color:$primaryColor;

                .job
                {
                    opacity:0.65;
                    transition:all 250ms;
                }
                
                .job:hover
                {
                    opacity:1;
                }
                
                .seperator
                {
                    opacity:0.25;
                    margin-left:5px;
                    margin-right:5px;
                }
            }

            .social-media
            {
                display:flex;
                text-align:center;  
                margin-top:25px;
                flex-direction:row;
                align-items: center;
                justify-content: center;

                .item
                {
                    padding:5px 10px;
                    color:white;
                    border-radius:50px;
                    margin-left:5px;
                    margin-right:5px;
                    transition:all 250ms;
                    font-weight:bold;
                    text-decoration:none;

                    i
                    {
                        margin-left:3px;
                        margin-right:8px;
                    }

                    span
                    {
                        margin-right:3px;
                    }
                }

                .item.facebook
                {
                    border: 2px solid #3b5998;
                    color: #3b5998;
                }
                .item.facebook:hover
                {
                    background-color:#3b5998;
                    color:white;    
                }
                .item.linkedin
                {
                    border: 2px solid #0077B5;
                    color:#0077B5;
                }
                .item.linkedin:hover
                {
                    background-color:#0077B5;
                    color:white;
                }
                .item.twitter
                {
                    border: 2px solid #00acee;
                    color:#00acee;
                }
                .item.twitter:hover
                {
                    background-color:#00acee;
                    color:white;
                }
            }

            .scroll-for-more
            {
                flex-direction:row;
                justify-content:center;
                align-items:center;
                margin-top:45px;
                opacity:0.8;
                font-weight:bold;
                background-color:$primaryColor;
                color:white;
                border-radius:50px;
                display:inline-flex;
                padding: 5px 15px 5px 10px;
                transition:all 150ms;

                i
                {
                    margin-right:6px;
                }
            }

            .scroll-for-more:hover
            {
                opacity:0.6;
            }

        }
    }

    #projects
    {
        min-height:100vh;
    }

    #about
    {
        min-height:100vh;
    }
}

a
{
    text-decoration:none !important;
}
a:active
{
    text-decoration:none;
}

.projects-container
{
    display:flex;
    position:relative;
    flex-wrap:wrap;
    padding-right:150px;
    justify-content:left;
    justify-items:left;

    .item.high
    {
        min-height: 750px !important;
        max-width:calc(20% - 30px);
    }

    .item
    {
        max-width:calc(25% - 30px);
        margin:5px;
        flex: 20%;
        justify-items:left;
        min-height:300px;
        padding: 10px;
        background-color:white;
        border-radius:10px;
        overflow:hidden;
        max-height:300px;
        position:relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition:all 150ms;

        .project-thumbnail
        {
            position:absolute;
            top:50%;
            left:50%;
            transform:translateX(-50%) translateY(-50%);
            width:100%;
        }

        .project-details
        {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color:rgba(255,255,255,0.97);
            opacity:0;
            transition:all 150ms;

            .centered
            {
                position:absolute;
                top:50%;
                left:50%;
                transform:translateX(-50%) translateY(-50%);
                text-align:center;

                .project-name
                {
                    font-size:25px;
                    color:$primaryColor;
                    font-weight:bold;
                }

                .labels
                {
                    margin-top:10px;
                    margin-bottom:15px;
                    display:flex;
                    flex-direction:row;
                    
                    span
                    {
                        margin:5px; 
                        display:inline-block;
                        background-color:$primaryColor;
                        color:white;
                        padding:5px 10px;
                        border-radius:10px;
                        text-transform:uppercase;
                        font-size:12px;
                    }
                }

                .action
                {
                    margin-top:10px;
                    color:$primaryColor;
                    text-decoration:underline !important;
                }
            }
        }
    }

    .item:hover
    {
        transform:translateY(-5px);

        .project-details
        {
            opacity:1;
        }
    }
}

.skill-set
{
    text-align:center;
    padding-right:250px;
}

#about
{
    position:relative; 

    .center
    {
        position:absolute;
        top:50%;
        left:50%;
        transform:translateX(calc(-50% - 200px));

        // Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);

// Helpers
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
  }
}

.align-center {
   text-align: center;
}


// Basics
html {
   height: 100%;
}
body {
   height: 100%;
   position: relative;
}
// Grid
.row {
   @include clearfix;
   margin: -20px 0;
   .col {
      padding: 0 20px;
      float: left;
      box-sizing: border-box;
      &.x-50 {
         width: 50%;
      }
      &.x-100 {
         width: 100%;
      }
   }
}

.content-wrapper {
   min-height: 100%;
   position: relative;
}

.get-in-touch {
   max-width: 650px;
   margin: 0 auto;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
  
  .title {
     text-align: center;
     font-family: Raleway, sans-serif;
     text-transform: uppercase;
     letter-spacing: 3px;
     font-size: 36px;
     line-height: 48px;
     padding-bottom: 48px;
  }
}

.contact-form {
   .form-field {
      position: relative;
      margin: 32px 0;
   }
   .input-text {
      display: block;
      width: 100%;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: #000;
      font-family: Lusitana, serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      
      &:focus {
         outline: none;
      }
      
      &:focus,
      &.not-empty {
         + .label {
            transform: translateY(-24px);
         }
      }
   }
   .label {
      position: absolute;
      left: 20px;
      bottom: 11px;
      font-family: Lusitana, serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: #888;
      cursor: text;
      transition: transform .2s ease-in-out;
   }
   
   .submit-btn {
      display: inline-block;
      background-color: #000;
      color: #fff;
      font-family: Raleway, sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 16px;
      border: none;
      cursor: pointer;
   }
}

.note {
   position: absolute;
   left: 0;
   bottom: 10px;
   width: 100%;
   text-align: center;
   font-family: Lusitana, serif;
   font-size: 16px;
   line-height: 21px;
   
   .link {
      color: #888;
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
   }
}
    }
}

input
{
    background-color:transparent;
}

// Section Divider
.section-divider
{
    padding: 10px 15px;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:0 30% 0 calc(30% - 175px);
    margin-bottom:40px;
    margin-top:50px;
    
    .title 
    {
        font-weight:bold;
        font-size:25px;
        color: gray;
    }

    .divider
    {
        margin:0 20px;
        height:2px;
        flex-grow:1;
        background-color:lightgray;
    }
}


// Tag Cloud
.tech-cloud
{
    width:50%;
    text-align:center;
    display:flex;
    align-items: center;
  justify-content: center;
    margin-top:50px;
    width:100%;
    flex-wrap: wrap;

    .tag 
    {
        border:1px solid $primaryColor;
        padding: 4px 8px;
        border-radius:50px;
        color: $primaryColor;
        font-weight:bold;
        font-size:14px;
        margin: 3px;
        opacity:0.6;
        cursor:pointer;
        
    }

    .tag:hover
    {
        opacity:1;
    }
}

.loading-blinking 
{
    font-size:25px;
    padding: 20px 0;
    color: gray;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
  }