body {
  background-color: #f5f5f5;
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0;
}

::selection {
  background-color: #192965;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.side-scroll-progress {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
}
.side-scroll-progress .page {
  position: relative;
  background-color: transparent;
  border: 2px solid #192965;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 100ms;
}
.side-scroll-progress .page i.material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 16px;
  color: #192965;
}
.side-scroll-progress .page .page-name {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  transform: translateY(-50%);
  color: #192965;
  width: 120px;
  transition: all 250ms;
  font-weight: bold;
}
.side-scroll-progress .page:hover {
  transform: scale(1.1);
}
.side-scroll-progress .page.complete {
  background-color: #192965;
}
.side-scroll-progress .page.complete i.material-icons {
  color: white;
}
.side-scroll-progress .page.complete .page-name {
  top: 50%;
  opacity: 0.75;
  left: 40px;
}
.side-scroll-progress .progress-bar {
  width: 3px;
  position: relative;
  height: 150px;
  border-radius: 10px;
  background-color: #ddd;
}
.side-scroll-progress .progress-bar .progress {
  background-color: #192965;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.side-scroll-progress .progress-bar.small {
  height: 50px;
}

.content {
  margin-left: 300px;
}
.content #introduction {
  width: 100%;
  min-height: 100vh;
}
.content #introduction .center {
  position: absolute;
  top: 50%;
  max-width: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.content #introduction .center .name {
  display: block;
  color: #192965;
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}
.content #introduction .center .profile-image {
  text-align: center;
  margin-bottom: 20px;
}
.content #introduction .center .profile-image .border {
  display: inline-block;
  border: 2px solid #192965;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.content #introduction .center .profile-image .border img {
  margin-top: 5px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.content #introduction .center .jobs {
  font-size: 25px;
  cursor: default;
  color: #192965;
}
.content #introduction .center .jobs .job {
  opacity: 0.65;
  transition: all 250ms;
}
.content #introduction .center .jobs .job:hover {
  opacity: 1;
}
.content #introduction .center .jobs .seperator {
  opacity: 0.25;
  margin-left: 5px;
  margin-right: 5px;
}
.content #introduction .center .social-media {
  display: flex;
  text-align: center;
  margin-top: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content #introduction .center .social-media .item {
  padding: 5px 10px;
  color: white;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 250ms;
  font-weight: bold;
  text-decoration: none;
}
.content #introduction .center .social-media .item i {
  margin-left: 3px;
  margin-right: 8px;
}
.content #introduction .center .social-media .item span {
  margin-right: 3px;
}
.content #introduction .center .social-media .item.facebook {
  border: 2px solid #3b5998;
  color: #3b5998;
}
.content #introduction .center .social-media .item.facebook:hover {
  background-color: #3b5998;
  color: white;
}
.content #introduction .center .social-media .item.linkedin {
  border: 2px solid #0077B5;
  color: #0077B5;
}
.content #introduction .center .social-media .item.linkedin:hover {
  background-color: #0077B5;
  color: white;
}
.content #introduction .center .social-media .item.twitter {
  border: 2px solid #00acee;
  color: #00acee;
}
.content #introduction .center .social-media .item.twitter:hover {
  background-color: #00acee;
  color: white;
}
.content #introduction .center .scroll-for-more {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  opacity: 0.8;
  font-weight: bold;
  background-color: #192965;
  color: white;
  border-radius: 50px;
  display: inline-flex;
  padding: 5px 15px 5px 10px;
  transition: all 150ms;
}
.content #introduction .center .scroll-for-more i {
  margin-right: 6px;
}
.content #introduction .center .scroll-for-more:hover {
  opacity: 0.6;
}
.content #projects {
  min-height: 100vh;
}
.content #about {
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}

a:active {
  text-decoration: none;
}

.projects-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-right: 150px;
  justify-content: left;
  justify-items: left;
}
.projects-container .item.high {
  min-height: 750px !important;
  max-width: calc(20% - 30px);
}
.projects-container .item {
  max-width: calc(25% - 30px);
  margin: 5px;
  flex: 20%;
  justify-items: left;
  min-height: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  max-height: 300px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 150ms;
}
.projects-container .item .project-thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}
.projects-container .item .project-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  opacity: 0;
  transition: all 150ms;
}
.projects-container .item .project-details .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.projects-container .item .project-details .centered .project-name {
  font-size: 25px;
  color: #192965;
  font-weight: bold;
}
.projects-container .item .project-details .centered .labels {
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.projects-container .item .project-details .centered .labels span {
  margin: 5px;
  display: inline-block;
  background-color: #192965;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.projects-container .item .project-details .centered .action {
  margin-top: 10px;
  color: #192965;
  text-decoration: underline !important;
}
.projects-container .item:hover {
  transform: translateY(-5px);
}
.projects-container .item:hover .project-details {
  opacity: 1;
}

.skill-set {
  text-align: center;
  padding-right: 250px;
}

#about {
  position: relative;
}
#about .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(calc(-50% - 200px));
  @import url(https://fonts.googleapis.com/css?family=Raleway:300);
  @import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
}
#about .center .align-center {
  text-align: center;
}
#about .center html {
  height: 100%;
}
#about .center body {
  height: 100%;
  position: relative;
}
#about .center .row {
  margin: -20px 0;
}
#about .center .row:after {
  content: "";
  display: table;
  clear: both;
}
#about .center .row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
#about .center .row .col.x-50 {
  width: 50%;
}
#about .center .row .col.x-100 {
  width: 100%;
}
#about .center .content-wrapper {
  min-height: 100%;
  position: relative;
}
#about .center .get-in-touch {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#about .center .get-in-touch .title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
}
#about .center .contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
#about .center .contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
#about .center .contact-form .input-text:focus {
  outline: none;
}
#about .center .contact-form .input-text:focus + .label, #about .center .contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
#about .center .contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}
#about .center .contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
#about .center .note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px;
}
#about .center .note .link {
  color: #888;
  text-decoration: none;
}
#about .center .note .link:hover {
  text-decoration: underline;
}

input {
  background-color: transparent;
}

.section-divider {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30% 0 calc(30% - 175px);
  margin-bottom: 40px;
  margin-top: 50px;
}
.section-divider .title {
  font-weight: bold;
  font-size: 25px;
  color: gray;
}
.section-divider .divider {
  margin: 0 20px;
  height: 2px;
  flex-grow: 1;
  background-color: lightgray;
}

.tech-cloud {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}
.tech-cloud .tag {
  border: 1px solid #192965;
  padding: 4px 8px;
  border-radius: 50px;
  color: #192965;
  font-weight: bold;
  font-size: 14px;
  margin: 3px;
  opacity: 0.6;
  cursor: pointer;
}
.tech-cloud .tag:hover {
  opacity: 1;
}

.loading-blinking {
  font-size: 25px;
  padding: 20px 0;
  color: gray;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

@media only screen and (max-width: 600px) {
  .side-scroll-progress {
    opacity: 0;
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .content {
    margin-left: 0;
    padding: 0 25px;
  }
  .content #introduction {
    padding: 100px 0 50px 0;
  }
  .content #introduction .center {
    position: relative;
    max-width: 100%;
    left: 0;
    transform: none;
    top: 0;
  }
  .content #introduction .center .name {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .content #introduction .center .jobs {
    margin-top: 0;
    line-height: 30px;
  }
  .content #introduction .center .job {
    font-size: 22px;
  }
  .content #projects {
    padding: 0;
  }
  .content #projects .projects-container {
    padding: 0;
  }
  .content #projects .projects-container .item {
    max-width: calc(100% - 30px);
    margin: 5px;
    flex: 100%;
    min-height: 240px;
  }
  .content #projects .section-divider {
    padding: 0;
  }
  .content #about .center {
    left: 0;
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
